.walletDetailsWrapper {
  font-family: 'Poppins', sans-serif;

  * {
    scrollbar-face-color: transparent;
    scrollbar-track-color: #94a1ca;
    scrollbar-color: transparent;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
      width: 3px;
      height: 3px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #94a1ca;
      border-radius: 16px;
    }
  }
  .title {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 15px;
  }

  .walletInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

    @media (max-width: 640px) {
      flex-direction: column;
      justify-content: center;
      gap: 20px;
    }

    .walletInfoLeft {
      display: flex;
      align-items: center;
      gap: 13px;

      .proverIcon {
        display: block;
        max-width: 35px;
        max-height: 35px;
        width: 100%;
        height: 100%;
      }

      .networkAndAccount {
        display: flex;
        flex-direction: column;
        gap: 1px;
        cursor: pointer;
        position: relative;
        .network {
          display: flex;
          align-items: center;
          .round {
            width: 8px;
            height: 8px;
            background-color: #f6c343;
            border-radius: 50%;
            margin-right: 5px;
          }

          .networkName {
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }

        .account {
          display: flex;
          gap: 2px;
          * {
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: 26px;
          }
        }
      }
    }

    .walletInfoRight {
      min-width: 195px;
      .switchProviderBtn {
        width: 100%;
        background: none;
        color: #fff;
        border: none;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 21px;
        position: relative;
        min-height: 42px;
        cursor: pointer;
        transition: all 0.2s linear;
        &:hover {
          backdrop-filter: brightness(1.3);
        }

        .switchProviderBtnBg {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: 0;
        }
        span {
          position: relative;
          z-index: 1;
        }
      }
    }
  }

  .copyAndViewBlock {
    display: flex;
    align-items: center;
    gap: 22px;
    padding-bottom: 17px;
    border-bottom: 1px solid #2a3765;

    .copy,
    .view {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: 14px !important;
      font-style: normal !important;
      font-weight: 600 !important;
      line-height: normal !important;
      color: white;

      span {
        display: inline-block;
        min-width: 100px;
      }
    }
  }

  .historyWrapper {
    .historyTitle {
      margin: 12px 0 7px;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      color: #798dca;
    }

    .waringText {
      display: inline-block;
      width: 100%;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 270px;
    }

    .txHistoryList {
      display: flex;
      flex-direction: column;
      gap: 25px;
      margin: 0;
      padding: 0;
      list-style: none;
      max-height: 300px;
      min-height: 300px;
      overflow-x: auto;

      .txHistoryItem {
        display: flex;
        align-items: center;
        margin-right: 7px;

        .txInfo {
          flex: 1;
        }

        .txInfo {
          display: flex;
          align-items: center;
          gap: 18px;
          .txText {
            display: flex;
            flex-direction: column;
            .statusText {
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              color: white;
            }
            .statusTextFailed {
              color: #ff5252;
            }

            .txAction {
              font-size: 12px;
              font-style: normal;
              font-weight: 500;
              line-height: 21px;
              color: #94a1ca;
              text-transform: capitalize !important;
              b {
                font-weight: 500;
                text-transform: uppercase;
              }
            }
          }
        }

        .scanner {
          display: flex;
          justify-content: flex-end;

          a {
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 21px;
            text-decoration-line: underline;
            cursor: pointer;
            color: white;
          }
        }
      }
    }
  }
}

.connectedAccountsWrapper {
  position: absolute;
  bottom: -200px;
  left: 0;
  min-width: 417px;
  max-width: 417px;
  height: 189px;
  overflow-y: auto;
  background: #09122e;
  border-radius: 10px;
  z-index: 10;
  @media (max-width: 640px) {
    left: -125px;
    min-width: 360px;
    max-width: 360px;
  }

  .walletsList {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    .walletsItem {
      padding: 18px;
      transition: all 0.2s linear;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:hover {
        background: linear-gradient(
          90deg,
          rgba(51, 119, 255, 0.21) 0%,
          rgba(51, 182, 255, 0.04) 94.08%
        );
      }

      .walletsInfo {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 0;



        .walletAddrWrapper {
          display: flex;
          flex-direction: column;

          .walletAddr {
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 26px;
            color: white;
          }

          .walletAddrActive {
            color: #00d395;
          }

          .network {
            color: #798DCA;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
      }

      .walletInteractors {
        display: flex;
        gap: 12px;
      }
    }
  }
}
