.userInfoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 1110px) {
    flex-direction: column;
    gap: 20px;
  }

  .leftSide,
  .rightSide {
    position: relative;
    width: 100%;
    min-height: 132px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


    @media (max-width: 1110px) {
      border: 1px solid #5267af;
      border-radius: 10px;
      background: #111b3c;
    }

    @media (max-width: 560px) {
      flex-direction: column;
    }

    .balanceWrapper,
    .borrowWrapper {
      padding: 25px;
      display: flex;
      flex-direction: column;
      gap: 4px;

      span {
        font-family: 'Inter', Arial, sans-serif;
        font-weight: 400;
        font-size: 1rem;
        line-height: 17px;
        text-transform: uppercase;
        color: #fff;
      }

      .balanceBold {
        font-family: 'Overlock', sans-serif;
        font-size: 36px;
        line-height: 43px;
        font-weight: 900;
        color: #32a2db;
      }
    }

    .bgDash {
      position: absolute !important;
      width: 103% !important;
      left: 0 !important;
      right: 0 !important;
      z-index: -1 !important;
      height: 100% !important;

      @media (max-width: 1110px) {
        display: none !important;
      }
    }
  }

  .rightSide {
    .bgDash {
      transform: translateX(-2.5%);
    }


    .borrowWrapper {
      align-items: flex-end;

      @media (max-width: 560px) {
        align-items: center;
      }
      .balanceBold {
        color: #606060 !important;
      }
      p {
        font-family: 'Inter', Arial, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: white;
        margin: 0;
        * {
          color: #606060 !important;
        }
        b {
          color: #606060 !important;
          font-weight: 400;
        }
      }
    }
  }

  .balanceBoldSecondary {
    color: #606060 !important;
  }

  .netApy {
    max-width: 165px;
    max-height: 165px;
    min-width: 165px;
    min-height: 165px;
    border-radius: 50%;
    border: 5px solid #32a2db;
    background-image: linear-gradient(to right, #005085, #000e18);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;

    .netApyTitleWrapper {
      display: flex;
      flex-direction: row;
      gap: 3px;
    }

    span {
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
    }

    b {
      font-family: 'Overlock', sans-serif;
      font-size: 33px;
      line-height: 40px;
      font-weight: 900;
      color: #32a2db;
    }
  }
}

.listHeaderWrapper {
  width: 100%;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-between !important;
}
