.disconnectModalWrapper {
  .disconnectTitle {
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 130% */
    margin-bottom: 25px;
  }

  .disconnectSubTitle {
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }

  .disconnectIcon {
    display: block;
    margin: 0 auto;
  }

  .btnsWrapper {
    display: flex;
    gap: 20px;

    .disconnectBtn {
      width: 50%;
      border-radius: 25px;
      border: 2px solid #213983;
      background: linear-gradient(90deg, #183386 2.84%, #142b71 100%);
      cursor: pointer;
      padding: 12px;

      color: #FFF;
      font-family: Poppins, sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px; /* 173.333% */
      text-transform: uppercase;
    }

    .disconnectBtnCancel {
      border-radius: 25px;
      background: #E02C6D;
    }
  }
}
